__pycache__/
OT2_Assignment_Thesis_notes_1.txt
OT2_Assignment_Thesis_notes_2.txt
OT2_Assignment_Thesis_notes.txt
OT2_Report_Latex_Template/
results_new.txt
Searching_constrian_Dec.png
Searching_constrian_RA.png
simbad_query_result.pkl
FOR_SUBMISSION/
Abell_2485.fits
Abell_2485_new.fits
freq_layer_(1.28GHz).fits
freq_layer_(1.34GHz).fits
freq_layer_(1.40GHz).fits
freq_layer_(1.46GHz).fits
freq_layer_(1.51GHz).fits
freq_layer_(1.57GHz).fits
freq_layer_(1.63GHz).fits
freq_layer_(1.69GHz).fits
freq_layer_(1.74GHz).fits
freq_layer_(1.80GHz).fits
freq_layer_(1.86GHz).fits
freq_layer_(1.92GHz).fits

